*::after, *::before, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Inter', sans-serif;
}

body {
  // background-color: #000;
}

.app {
  // background-color: #000;
  // background-color: #1f1d1d;
  background-color: #242526;
  min-height: 100vh;
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width:992px) {
    width: 100%;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.header {
  position: relative;
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  display: flex;
  align-items: flex-end;
  @media (max-width:992px){
    height: 200px;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s
}

.page-enter,
.page-leave-to {
  // position: absolute;
  // bottom: 10px;
  opacity: 0;
}
